<% content_for :head do %>
<% end %>
<%= stylesheet_link_tag "anime/help" %>
<% content_for :title do %>
アニメモリについて
<% end %>
<% content_for :h1 do %>
アニメモリについて
<% end %>

<div class="row-fluid amHelp">
  <div class="span12 well amHlepwell">
    <blockquote class="amBlockquotefix">
      <h3 class="Source Title amTitlefix">About</h3>
    </blockquote>
    <div class="row-fluid">
      <div class="span2">
        <ul class="btn-group-vertical">
          <li><%= link_to("about us", :controller => "help" ) %></li>
          <li><%= link_to("our policy", :controller => "help", :action => "policy" ) %></li>
        </ul>
      </div>
      <div class="span10 amHlepcontents">

        <div class>

          <h3>
            利用規約
          </h3>
          <ul class="text-warning">
          <li>
          アニメモリ利用規約（以下「本規約」といいます。）には、「アニメモリ」及びこれに関連するサービスのご利用にあたり、登録ユーザーの皆様に遵守していただかなければならない事項及びサービス運営者と登録ユーザーの皆様との間の権利義務関係が定められております。本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。
          </li>
          <li>第1条 適　用<br>

          1.本規約は、本サービスの利用に関するサービス運営者と登録ユーザーとの間の権利義務関係を定めることを目的とし、登録ユーザーとサービス運営者の間の本サービスの利用に関わる一切の関係に適用されます。<br>

          2.サービス運営者がアニメモリ上（http://animemory.jp/)で随時掲載する本サービスに関するルール、諸規定等は本規約の一部を構成するものとします。<br>

          3.本規約の内容と、前項のルールその他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。<br>
          </li>

          <li>
          第2条 定　義<br>

          本規約において使用する以下の用語は各々以下に定める意味を有するものとします。<br>

          (1)「知的財産権」とは、著作権、特許権、実用新案権、商標権、意匠権その他の知的財産権（それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含む。）を意味します。<br>
          (2)「当ウェブサイト」とは、そのドメインが「http://animemory.jp/」（理由の如何を問わずサービス運営者がドメインを変更した場合は、当該変更後のサイトを含みます。）であるサービス運営者が運営するウェブサイトを意味します。<br>
          (3)「投稿データ」とは、本サービスにおいてユーザーが投稿又は送信した一切の情報（位置情報、画像データ、テキストを含みますが、これらに限られません。）を意味します。<br>
          (4)「登録ユーザー」とは、第3条に基づき本サービスの利用者としての登録がなされた個人又は法人を意味します。<br>
          (5)「本サービス」とは、サービス運営者が提供する「アニメモリ」という名称のサービス（理由の如何を問わずサービス内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。<br>
          (6)「利用契約」とは、第3条第4項に基づきサービス運営者と登録ユーザーの間で成立する、本規約の諸規定に従った本サービスの利用契約を意味します。<br>
          </li>

          <li>
          第3条 登　録<br>

          1.本サービスの利用を希望する者（以下「登録希望者」といいます。）は、本規約を遵守することに同意し、かつサービス運営者の定める一定の情報（以下「登録情報」といいます。）をサービス運営者の定める方法でサービス運営者に提供することにより、サービス運営者に対し、本サービスの利用の登録を申請することができます。<br>

          2.登録ユーザーは、本サービスの利用の登録を申請するに際し、サービス運営者がサービス運絵者又は第三者の営業について広告又は宣伝を行うため、登録ユーザーが前項の規定に基づきサービス運営者に提供するメールアドレスに対して、特定電子メールの送信の適正化等に関する法律第2条に定める特定電子メールを送信することについて、予め同意するものとします。<br>

          3.登録の申請は必ず本サービスを利用する個人又は法人自身が行わなければならず、代理人による登録申請は認められません。また、本サービスの利用を希望する者は、登録の申請にあたり、真実、正確かつ最新の情報をサービス運営者に提供しなければなりません。<br>

          4.サービス運営者は、サービス運営者の基準に従って、登録希望者の登録の可否を判断し、サービス運営者が登録を認める場合にはその旨を登録希望者に通知し、この通知により登録希望者の登録ユーザーとしての登録は完了したものとします。<br>

          5.前項に定める登録の完了時に、本規約の諸規定に従った本サービスの利用契約が登録ユーザーとサービス運営者の間に成立し、登録ユーザーは本サービスをサービス運営者の定める方法で利用することができるようになります。<br>

          6.サービス運営者は、登録申請者が、以下の各号のいずれかの事由に該当する場合は、登録及び再登録を拒否することがあり、またその理由について一切開示義務を負いません。<br>

          (1)本規約に違反するおそれがあるとサービス運営者が判断した場合<br>
          (2)サービス運営者に提供された登録情報の全部又は一部につき虚偽、誤記又は記載漏れがあった場合<br>
          (3)過去に本サービスの利用の登録を取り消された者である場合<br>
          (4)未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人､保佐人又は補助人の同意等を得ていなかった場合<br>
          (5)反社会的勢力等、（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合<br>
          (6)その他、サービス運営者が登録を適当でないと判断した場合<br>
          </li>


          <li>
          第4条 登録情報の変更<br>

          登録ユーザーは、登録情報に変更があった場合は、遅滞なく、サービス運営者の定める方法により、当該変更事項をサービス運営者に通知し、サービス運営者から要求された資料又はデータを提出するものとします。<br>
          </li>

          <li>
          第5条　本サービスの利用<br>
          1.登録ユーザーは、有効に登録ユーザーとして登録されている期間内に限り、本規約の目的の範囲内でかつ本規約に違反しない範囲内で、サービス運営者の定める方法に従い、本サービスを利用することができます。<br>

          2.登録ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当する行為をしてはなりません。<br>

          (1)サービス運営者、本サービスの他の利用者又は第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利又は利益を侵害する行為<br>
          (2)当社、本サービスの他の利用者又はその他の第三者に対する詐欺又は脅威行為<br>
          (2)サービス運営者が本サービスにおいて必要な範囲で複製、改変、送信その他の行為を行うことが本サービスの他の利用者又は第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利又は利益の侵害に該当することとなる情報をサービス運営者ウェブサイトに送信する行為。<br>
          (3)法令に違反する行為又は犯罪行為に関連する行為<br>
          (4)公序良俗に反する行為<br>
          (5)猥褻な情報又は青少年に有害な情報を送信する行為<br>
          (6)異性交際に関する情報を送信する行為<br>
          (7)法令又はサービス運営者若しくは登録ユーザーが所属する業界団体の内部規則に違反する行為<br>
          (8)本サービスを通じ、以下に該当し、または該当すると当社が判断する情報を当社又は本サービスの他の利用者に送信すること<br>
          　・過度に暴力的又は残虐な表現を含む情報<br>
          　・コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報を送信する行為<br>
          　・当社、本サービスの他の利用者又はその他の第三者の名誉又は信用を毀損する表現を含む情報<br>
          　・過度にわいせつな表現を含む情報<br>
          　・差別を助長する表現を含む情報<br>
          　・自殺、自傷行為を助長する表現を含む情報<br>
          　・薬物の不適切な利用を助長する表現を含む情報<br>
          　・反社会的な表現を含む情報<br>
          　・チェーンメール等の第三者への情報の拡散を求める情報<br>
          　・他人に不快感を与える表現を含む情報<br>
          　・チェーンメール等の第三者への情報の拡散を求める情報<br>
          　・他人に不快感を与える表現を含む情報<br>
          　・面識のない異性との出会いを目的とした情報<br>
          (9)本サービスに関し利用しうる情報を改ざんする行為<br>
          (10)本サービスのネットワークまたはシステム等に不正にアクセスし、または不正なアクセスを試みる行為<br>
          (11)第三者に成りすます行為<br>
          (12)本サービスの他の利用者のIDまたはパスワードを利用する行為<br>
          (13)サービス運営者による本サービスの運営を妨害するおそれのある行為<br>
          (14)サービス運営者が事前に許諾しない本サービス上での宣伝、広告、勧誘、または営業行為<br>
          (15)本サービスの他の利用者の情報の収集<br>
          (16)サービス運営者、本サービスの他の利用者又はその他の第三者に不利益、損害、不快感を与える行為<br>
          (17)反社会的勢力等への利益供与<br>
          (18)面識のない異性との出会いを目的とした行為<br>
          (19)前各号の行為を直接又は間接に惹起し、または容易にする行為<br>
          (20)その他、サービス運営者が不適切と判断する行為<br>

          3.サービス運営者は、本サービスにおける登録ユーザーによる情報の送信行為が前項各号のいずれかに該当し、又は該当するおそれがあるとサービス運営者が判断した場合には、登録ユーザーに事前に通知することなく、登録情報や、投稿データその他の情報の全部又は一部を削除することができるものとします。サービス運営者は、本項に基づきサービス運営者が行った措置に基づき登録ユーザーに生じた損害について一切の責任を負いません。<br>
          </li>

          <li>
          第6条 パスワード及びユーザーIDの管理<br>

          1.登録ユーザーは、自己の責任において、パスワード及びユーザーIDを管理及び保管するものとし、これを第三者に利用させたり、貸与、譲渡、名義変更、売買等をしてはならないものとします。<br>

          2.パスワード又はユーザーIDの管理不十分、使用上の過誤、第三者の使用等による損害の責任は登録ユーザーが負うものとし、サービス運営者は一切の責任を負いません。<br>

          3.登録ユーザーは、パスワード又はユーザーIDが盗まれたり、第三者に使用されていることが判明した場合には、直ちにその旨をサービス運営者に通知するとともに、サービス運営者からの指示に従うものとします。<br>

          4. 登録ユーザーが外部サービスのID等を利用して本サービスに登録した場合、そのID等の登録、利用については、外部サービスが規定する各規約の定めに従うものとし、サービス運営者はその内容について一切の責任を負うものではありません。<br>

          5.登録ユーザーの個人認証がなされたサービスの利用やそれに伴う一切の行為は、本条に反してなされた他者によるサービスの利用やそれに伴う一切の行為も含め、当該利用や行為が登録ユーザー自身の行為であるか否かを問わず、登録ユーザーによる利用および行為とみなされ、登録ユーザーはサービス運営者に対し、その一切の責任を負うものとします。<br>
          </li>

          <li>
          第7条 本サービスの停止又は中断<br>

          1.サービス運営者は、以下のいずれかに該当する場合には、登録ユーザーに事前に通知することなく、本サービスの利用の全部又は一部を永久的に停止又は一時的に中断することができるものとします。<br>

          (1)本サービスに係るコンピューター・システムの点検又は保守作業を定期的又は緊急に行う場合<br>
          (2)コンピューター、通信回線等が事故により停止した場合<br>
          (3)火災、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合<br>
          (4)その他、サービス運営者が停止又は中断を必要と判断した場合<br>
          2.サービス運営者は、前項に基づきサービス運営者が行った措置に基づき登録ユーザーに生じた損害について一切の責任を負いません。<br>
          </li>

          <li>
          第8条 情報の保存<br>

          サービス運営者は、登録ユーザーが送受信したメッセージその他の情報を運営上一定期間保存していた場合であっても、かかる情報を保存する義務を負うものではなく、サービス運営者はいつでもこれらの情報を削除できるものとします。なお、サービス運営者は本条に基づきサービス運営者が行った措置に基づき登録ユーザーに生じた損害について一切の責任を負いません。<br>
          </li>

          <li>
          第9条　投稿データの管理並びに権利の帰属<br>
          1. 登録ユーザーは、投稿データについて、自らが投稿又は送信することについての適法な権利を有していること、及び投稿データが第三者の権利を侵害しないことについて、表明し、保証するものとします。<br>
          2. 登録ユーザーは、サービス運営者に対し、投稿データについて、無償にて利用（複製、複写、改変、第三者への再許諾その他のあらゆる利用を含む。）する権利を許諾するものとします。本項に基づく、登録ユーザーのサービス運営者への利用許諾の範囲には、本サービスを通じて、サービス運営者が他の登録ユーザーに対して投稿データの利用を再許諾することも含むものとし、これにより、登録ユーザーは、本サービス上で他の登録ユーザーが投稿した投稿データを、サービス運営者の定める方法で編集することができるようになります。<br>
          3. 前項の利用許諾には、地域制限、著作権表示義務その他付随条件はないものとし、登録ユーザーのサービス運営者に対する利用許諾の期間は、利用契約の有効期間に拘わらず、投稿データの知的財産権が存続する限り継続するものとします。<br>
          4. サービス運営者又はサービス運営者から委託を受けた第三者が、投稿データをサービス運営者又は第三者のウェブサイト等において利用及び公開する場合があります。この場合、サービス運営者は、投稿データについて、要約、抜粋、サイズ変更又は切り抜きなどの改変等の行為を行う場合があります。また、登録ユーザーは、サービス運営者が投稿データを利用する場合には、登録ユーザーが投稿又は送信した際のユーザーIDその他の登録事項を表示する場合があることを予め了承するものとします。<br>
          5. サービス運営者は、投稿データの内容の正確性・速報性・違法性・完全性・有用性などについては、いかなる保証もいたしません。さらに、投稿データによって生じた損害や、他の登録ユーザー、その他の第三者との間のトラブル等に対し、サービス運営者は一切の補償および関与をいたしません。<br>

          6.サービス運営者は、以下各号のひとつにでも該当する場合、又は該当するおそれがあるとサービス運営者が判断する場合には、投稿データを削除、修正する権利を持ちますが、全てのものを常に監視・削除・修正する義務はないものとします。<br>

          ・明らかに誤り、不正確、誤解を生じやすい情報<br>
          ・第三者の利益、名誉を損ねるもの<br>
          ・法律、法令、サービス運営者が定める各種規約に違反するもの<br>
          ・第三者が記載した他の投稿サイトに存在するものと同様の内容（流用、盗作などを含むがこれに限らない。ただし本人の許可のあるものは除く）<br>
          ・不快感を与えるもの<br>
          ・政治的主張、差別表現<br>
          ・第4条2項に定める禁止事項に抵触する場合<br>
          ・その他、サービス運営者がふさわしくないと判断するもの<br>

          7.登録ユーザーは、外部サービスに登録されたユーザーのプロフィール情報をサービス運営者が取得し、本サービスにおいて表示、公開をすること、及び登録ユーザーが許可した場合には、投稿データが、外部サービスに投稿されることを予め承認するものとします。また、サービス運営者は、外部サービスに投稿された投稿データについて、削除等を行う義務を負わないものとします。<br>
          </li>

          <li>
          第10条 権利帰属<br>
          前条で定める場合を除き、サービス運営者ウェブサイト及び本サービスに関する一切の知的財産権（著作権については、著作権第27条及び第28条に規定する権利を含む。）は、原始的に又は発生と同時にサービス運営者に帰属又は移転するものとします。登録ユーザーは、これらの情報に関する著作権につき、著作者人格権を行使しないものとします。<br>
          </li>

          <li>
          第11条 登録取消等<br>

          1.サービス運営者は、登録ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知又は催告することなく、当該登録ユーザーについて本サービスの利用を一時的に停止し、又は登録ユーザーとしての登録を取り消すことができます。<br>

          (1)本規約のいずれかの条項に違反した場合<br>
          (2)登録情報に虚偽の事実があることが判明した場合<br>
          (3)サービス運営者、他の登録ユーザー又は第三者に損害を生じさせるおそれのある目的又は方法で本サービスを利用した、又は利用しようとした場合<br>
          (4)手段の如何を問わず、本サービスの運営を妨害した場合<br>
          (5)支払停止若しくは支払不能となり、又は破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始若しくはこれらに類する手続の開始の申立てがあった場合<br>
          (6)自ら振出し、若しくは引受けた手形又は小切手につき、不渡りの処分を受けた場合<br>
          (7)差押、仮差押、仮処分、強制執行又は競売の申立てがあった場合<br>
          (8)租税公課の滞納処分を受けた場合<br>
          (9)死亡した場合又は後見開始、保佐開始若しくは補助開始の審判を受けた場合<br>
          (10)1年以上本サービスの利用がなく、サービス運営者からの連絡に対して応答がない場合<br>
          (11)その他、サービス運営者が登録ユーザーとしての登録の継続を適当でないと判断した場合<br>
          2.前項各号のいずれかの事由に該当した場合、登録ユーザーは、サービス運営者に対して負っている債務の一切について当然に期限の利益を失い、直ちにサービス運営者に対して全ての債務の支払を行わなければなりません。<br>

          3.サービス運営者は、本条に基づきサービス運営者が行った行為により登録ユーザーに生じた損害について一切の責任を負いません。<br>
          </li>

          <li>
          第12条 退　会<br>

          登録ユーザーは、サービス運営者所定の方法でサービス運営者に通知することにより、本サービスから退会し、自己の登録ユーザーとしての登録を抹消することができます。<br>
          </li>

          <li>
          第13条 保証の否認及び免責<br>

          1.サービス運営者は、本サービスにつき如何なる保証も行うものではありません。さらに、登録ユーザーがサービス運営者から直接又は間接に本サービス又は他の登録ユーザーに関する情報を得た場合であっても、サービス運営者は登録ユーザーに対し本規約において規定されている内容を超えて如何なる保証も行うものではありません。<br>

          2.登録ユーザーは、本サービスを利用することが、登録ユーザーに適用のある法令、業界団体の内部規則等に違反するか否かを自己の責任と費用に基づいて調査するものとし、サービス運営者は、登録ユーザーによる本サービスの利用が、登録ユーザーに適用のある法令、業界団体の内部規則等に適合することを何ら保証するものではありません。<br>

          3.サービス運営者は、サービス運営者による本サービスの提供の中断、停止、利用不能又は変更、登録ユーザーのメッセージ又は情報の削除又は消失､登録ユーザーの登録の取消、本サービスの利用によるデータの消失又は機器の故障若しくは損傷、その他本サービスに関連して登録ユーザーが被った損害につき、賠償する責任を一切負わないものとします。<br>

          4.サービス運営者ウェブサイトから他のウェブサイトへのリンク又は他のウェブサイトからサービス運営者ウェブサイトへのリンクが提供されている場合でも、サービス運営者は、サービス運営者ウェブサイト以外のウェブサイト及びそこから得られる情報に関して如何なる理由に基づいても一切の責任を負わないものとします。<br>
          </li>

          <li>
          第14条　外部サービス<br>
          1. 本サービスは外部サービスと連携してサービスを提供することがありますが、ユーザーは、自らの責任において外部サービスを利用するものとし、サービス運営者は、外部サービスの利用に関連してユーザーに発生した損害について、一切の責任を負いません。<br>
          2. ユーザーは、外部サービスの利用に当たっては、外部サービスの利用規約等を遵守するものとします。<br>
          </li>

          <li>
          第15条 紛争処理及び損害賠償<br>

          1.登録ユーザーは、本規約に違反することにより、又は本サービスの利用に関連してサービス運営者に損害を与えた場合、サービス運営者に対しその損害を賠償しなければなりません。<br>

          2.登録ユーザーが、本サービスに関連して他の登録ユーザーその他の第三者からクレームを受け又はそれらの者との間で紛争を生じた場合には、直ちにその内容をサービス運営者に通知するとともに、登録ユーザーの費用と責任において当該クレーム又は紛争を処理し、サービス運営者からの要請に基づき、その結果をサービス運営者に報告するものとします。<br>

          3.登録ユーザーによる本サービスの利用に関連して、サービス運営者が、他の登録ユーザーその他の第三者から権利侵害その他の理由により何らかの請求を受けた場合は、登録ユーザーは当該請求に基づきサービス運営者が当該第三者に支払を余儀なくされた金額を賠償しなければなりません。<br>
          </li>

          <li>
          第16条 秘密保持<br>

          登録ユーザーは、本サービスに関連してサービス運営者が登録ユーザーに対して秘密に取り扱うことを求めて開示した非公知の情報について、当社の事前の書面による承諾がある場合を除き、秘密に取り扱うものとします。<br>
          </li>

          <li>
          第17条 登録情報等<br>

          1.サービス運営者は、登録情報を以下の目的の範囲で利用するものとし、登録ユーザーはこれを承諾するものとします。<br>

          (1)登録ユーザーのお問い合わせへの対応<br>
          (2)本サービスに関する情報の提供<br>
          (3)モニター、イベントなど登録ユーザーへの情報提供・商品発送およびこれらに係る連絡業務<br>
          (4)モニター・イベントなどの運営<br>
          (5)その他上記利用目的に付随する目的<br>
          2.サービス運営者は、登録情報のうち登録ユーザーを特定できない情報については、登録ユーザーの事前の同意を得ずに、第三者に提供又は開示することができるものとします。<br>

          3.サービス運営者は、次の各号に掲げる事由の一つが生じた場合を除き、登録情報等のうち登録ユーザーを特定できる情報につき、登録ユーザーの事前の同意を得ずに、第三者に提供又は開示いたしません。<br>

          (1)法令に基づく場合。<br>
          (2)人の生命、身体又は財産の保護のために必要がある場合であって、登録ユーザーの同意を得ることが困難であるとき。<br>
          (3)公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、登録ユーザーの同意を得ることが困難であるとき。<br>
          (4)国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、登録ユーザーの同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。<br>
          (5)第1項に定める利用目的の達成に必要な範囲内において、登録情報等の取扱いの全部又は一部を委託する場合（代理店や配送業者に委託する場合を含むがこれに限られない）。<br>
          </li>

          <li>
          第18条 有効期間<br>

          利用契約は、登録ユーザーについて第3条に基づく登録が完了した日から当該登録ユーザーの登録が取り消された日まで、サービス運営者と登録ユーザーとの間で有効に存続するものとします。<br>
          </li>

          <li>
          第19条 本規約等の変更<br>

          1.サービス運営者は、本規約（サービス運営者ウェブサイトに掲載する本サービスに関するルール、諸規定等を含みます。以下本条において同じ。）又は本サービスの内容を自由に変更できるものとします。<br>

          2.サービス運営者は、本規約又は本サービスの内容を変更した場合には、登録ユーザーに当該変更内容を通知するものとし、当該変更内容の通知後、登録ユーザーが本サービスを利用した場合又はサービス運営者の定める期間内に登録取消の手続をとらなかった場合には、登録ユーザーは、本規約又は本サービスの内容の変更に同意したものとみなします。<br>
          </li>

          <li>
          第20条 連絡/通知<br>

          本サービスに関する問い合わせその他登録ユーザーからサービス運営者に対する連絡又は通知、及び本規約の変更に関する通知その他サービス運営者から登録ユーザーに対する連絡又は通知は、サービス運営者の定める方法で行うものとします。<br>
          </li>

          <li>
          第21条 利用契約上の地位の譲渡等<br>

          1.登録ユーザーは、サービス運営者の書面による事前の承諾なく、利用契約上の地位又は本規約に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。<br>

          2.サービス運営者は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びに登録ユーザーの登録情報その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、登録ユーザーは、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。<br>
          </li>

          <li>
          第22条 完全合意<br>

          本規約は、本規約に含まれる事項に関するサービス運営者と登録ユーザーとの完全な合意を構成し、口頭又は書面を問わず、本規約に含まれる事項に関するサービス運営者と登録ユーザーとの事前の合意、表明及び了解に優先します。<br>
          </li>

          <li>
          第23条 分離可能性<br>

          本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有し、本サービス運営者及び登録ユーザーは、当該無効若しくは執行不能の条項又は部分を適法とし、執行力を持たせるために必要な範囲で修正し、当該無効若しくは執行不能な条項又は部分の趣旨並びに法律的及び経済的に同等の効果を確保できるように努めるものとします。<br>
          </li>

          <li>
          第24条 準拠法及び管轄裁判所<br>

          1.本規約及びサービス利用規約の準拠法は日本法とします。なお、本サービスにおいて物品の売買が発生する場合であっても、国際物品売買契約に関する国際連合条約の適用を排除することに合意します。<br>

          2.本規約またはサービスに起因し、又は関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。<br>
          </li>

          <li>
          第25条 協議解決<br>

          サービス運営者及び登録ユーザーは、本規約に定めのない事項又は本規約の解釈に疑義が生じた場合には、互いに信義誠実の原則に従って協議の上速やかに解決を図るものとします。<br>
          </li>
          </ul>
          <div class="text-right">2013年5月11日改訂<div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>