/* メニュー */

body{
  font-size: 12px;
}

.amAdminMenu{
  margin: 0;
  padding-top:5px;
  padding-bottom:5px;
  padding-left: 4px;
  list-style-type: square;
  font-size: 11px;
  marker-offset:2em;
}

.amAdminMenu li{
  margin-bottom: 5px;
}

.amAdminMenu li span{
  font-size: 10px;
}

.well{
  margin:0 3px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius: 0;
}

.badge-warning{
  margin-right: 2.5px;
  margin-left: 2.5px;
  padding-top: 3px;
  padding-left: 10px;
  background-color: #87f59f;
}

/* アニメ管理 */

input[type="text"]{
  width: 150px;
  height: 12px;
}


.amAdminWell {
  min-height: 20px;
  border: 1px solid #e3e3e3;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.amBadge-Admin{
  padding-top: 3px;
  padding-left: 10px;
  border: #5a5a5a 1px;
  background-color: #d6d6d6;
}

.amBadge-Admin2{
  padding-top: 3px;
  padding-left: 10px;
  border: #5a5a5a 1px;
  background-color: #4c9256;
  color: #ffffff;
}


.button_wrapper {
  position: relative;
  cursor: pointer;
}
.button_wrapper .button {
  width: 150px;
  height: 20px;
  height: 20px;
  border: 1px #6fde6f solid;
  border-radius: 3px;
  background: #4c9256;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.button_wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 20px;
  border-radius: 3px;
  opacity:0;
  cursor: pointer;
}

div input[type="input"]{
  font-size: 10px;
}

.amAdminTag{
  margin: 20px;
}

.amAdminSearch{
  margin-top:5px;
}

.amAdminSearch span{
  display: inline;
  margin-left: 8px;
}

.amAdminSearch span span{
  display: inline-block;
  margin-right: 5px;
  margin-left: 0;
  font-size: 13px;
  line-height: 1.5;
}

.amAdminInput{
  padding-bottom: 5px;
}


.amAdminCountWrap{
  margin-bottom: 30px !important;
}

.amSearchResultRight{
  margin-bottom:-15px;
  font-size: 12px;
}

.amSearchResultLeft{
  display:block;
  margin-bottom:-20px;
  padding-top:18px;
  font-size: 12px;
}

.amAdminWell-large{
  padding-top: 10px;
  min-height: 750px;
  border: 1px solid #e3e3e3;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.amAdminList{
  font-size: 13px;
}

.amAdminBody{
  margin-left: -25px;
}

.amAdminAnimes{
  list-style-type: none;
}

.am-admin-th{
  margin-top:10px;
  padding:0;
  width: 728px;
  background-color:#f5f5f5;
}

.am-admin-th .am-admin-th-cat{
  display: inline-block;
  width:160px;
  padding-left:5px;
  font-weight:bold;
}

.am-admin-th .am-admin-th-mini-cat{
  display: inline-block;
  width:45px;
  padding-left:5px;
  font-weight:bold;
}

.am-admin-th .am-admin-th-mid-cat{
  display: inline-block;
  width:45px;
  padding-left:10px;
  font-weight:bold;
}

#site_name, #rss_url, #url{
  margin-bottom: 0;
}


.am-admin-outside-input, .am-admin-outside-input-right{
  display:inline;
}

.am-admin-outside-input-right{
  margin-left:20px;
}

.am-admin-outside-input-show{
  margin-left:20px;
}


.am-admin-content-list{
  margin: 0 0 0 25px!important;
  list-style-type:none;
}

.even{
  margin: 0;
  padding:10px 0 10px 5px;
  width: 723px;
  height: 25px;
  background-color: #b7ffb8;
  line-height: 2.2;
}

.odd{
  margin: 0;
  padding:10px 0 10px 5px;
  width: 723px;
  height: 25px;
  background-color: #f7f7f9;
  line-height: 2.2;
}


.amAdminTableWrap{
  margin-top: 25px;
}


.amAdminTableHead th{
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
  width: 110px;
}

.amAdminTableHead th.amCharName{
  width: 135px;
  text-align: left;
}

.amAdminTableHead th.amVoiceActor{
  width: 150px;
  text-align: left;
}


.amAdminTableHead th.amAdminAnimeTitle{
  width: 170px;
  text-align: left;
}

.amAdminTableHead th.amAdminUpdate{
  width: 55px;
  text-align: left;
}

.amAdminTableHead th.amAdminUpdate2{
  width: 30px;
  text-align: left;
}

.amAdminTableHead th.amAdminAnimeUpdate3{
  width: 25px !important;
  text-align: center;
}

.amAdminTableHead th.amAdminEp{
  width: 35px;
  text-align: left;
}

.amAdminTableHead th.amAdminAnimeMedia{
  width: 100px;
  text-align: left;
}

.amAdminTableHead th.amAdminAnimeBroadcastDate{
  width: 75px;
  text-align: left;
}

.amAdminTableHead th.amAdminAnimeBroadcastTime{
  width: 61px;
  text-align: left;
}

.amAdminTableHead th.amAdminAnimeTitleSchedule{
  width: 137px;
  text-align: left;
}

.amAdminTableHead th.amAdminAnimeTitleSchedule2{
  width: 115px;
  text-align: left;
}

.amAdminTableHead th.amAdminAnimeCheckbox{
  width: 34px;
  text-align: left;
}

.amAdminTable{
  margin-top: 20px;
  font-size: 13px;
}

.amAdminTablewrap2{
  margin-top: 20px;
  font-size: 11px;
}

.amAdminTable td input[type="text"]{
  width: 120px;
}

.amAdminTable td select{
  width: 150px;
  height: 23px;
}

.amAdminTable td{
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
  padding-top: 10px;
  padding-bottom: 3px;
  height: 30px;
}

.amAdminTable td a{
  display: inline-block;
  margin-bottom: 7px;
  width: 170px;
  font-size: 11px;
}

.amAdminTable td a.amAdminAnimeTitleSchedule{
  display: inline-block;
  width: 135px;
  font-size: 11px;
}

.amAdminTable td.amAdminMedia{
  display: inline-block;
  width: 100px;
  font-size: 11px;
}

.amAdminTable td a.amAdminEpElement{
  display: inline-block;
  width: 35px;
  font-size: 11px;
}

.amAdminTable td.amAdminEpElement{
  display: inline-block;
  width: 35px;
  font-size: 11px;
}

.amAdminTable td.amAdminBroadcastDate input[type="text"]{
  margin-bottom: 5px;
  width: 60px;
  font-size: 11px;
}

.amAdminTable td.amAdminBroadcastTime select{
  margin-bottom: 5px;
  width: 61px;
  font-size: 11px;
}

th.amAdminAnimeUpdate2{
  width : 60px !important;
  text-align: left !important;
}

.amAdminTable td input[type="submit"]{
  margin-bottom: 5px;
  width: 55px;
  font-size: 11px;
}

.amAdminTable td.amAdminAnimeScheduleSubmit input[type="submit"]{
  margin-bottom: 5px;
  width: 60px;
  font-size: 11px;
}

div.amAdminSearch span.amAdminEpInput input{
  width:75px;
}

.amAdminBody2{
  margin-bottom: 20px;
}

.amAdminTable td.amAdminAnimeTitleSchedule input[type=text]{
  display: inline-block;
  width: 100px;
  font-size: 11px;
}

.amAdminTable td.amAdminAnimeCheckbox{
  display: inline-block;
  margin-bottom: 5px;
  width: 34px;
  text-align: center;
}