.am-top-sidebar-title{
  background-color: #c62a54;
  color: white;
  margin-top:-10px;
  text-align:center;
  font-size: 15px;
}

.top-sidebar-wrap{
  width: 225px;
  text-align: right;
  margin-left: 11px;
}
.top-sidebar-wrap div:nth-child(2){
  margin-top: -5px;  
}

.am-top-sidebar-main{
  text-align: right;
  display:block;
  list-style-type:none;
  margin:0;
}

.am-top-sidebar-main li{
  margin: 0 0 3px 0;
  padding: 5px 5px 0 5px;
  background-color:#ccc;
  display:block;
  text-align:center;
  position: relative;
}

.am-top-sidebar-main li a{
  font-size: 11px;
  color: #ffffff;
}

.top-top-sidebar-product-text{
  background-image: url('/images/daily_info_dl_background.png');
  padding: 5px;
  position: absolute;
  bottom: 0;
  right:0;
  display:block;
  width: 215px;
}

.am-top-sidebar-main li a img{
  width: 225px;
}

.am-amazon-product-warp {
  display:inline-block;
  text-align: center!important;
  background-color:#FFFFFF;
}