<% content_for :head do %>
  <%= stylesheet_link_tag "anime/_top_anime_cartridges" %>
<% end %>

<div class="top-anime-cartridges">
  <ul>
    <li>
      <a href="#" class="anime-title">サンプルだよ</a>
      <a href="#">
        <%= image_tag("/images/profileimages.png") %>
      </a>
      <span class="mymemory">
        <a class="unfavorite"></a>
        <button class="watched">みてる</button>
      </span>
    </li>
  </ul>
</div>