<% content_for :head do %>
<%= stylesheet_link_tag "shared/huge_add" %>
<% end %>

<div class="top-dmm-huge-add">
  <a href="http://www.dmm.com/lp/game/walkure/index01_html/=/navi=none/animemory-001" target="_blank"><img src="http://pics.dmm.com/af/c_olg001/300_250.jpg" width="310" height="250" alt="ロードオブワルキューレ　オンラインゲーム" border="0"></a>
</div>
