<%# balloon はここで定義する %>

<% content_for :head do%>
  <%= stylesheet_link_tag "shared/_instruction_balloon" %>
  <%= javascript_include_tag "shared/_instruction_balloon" %>
<% end %>
<span class="instruction-balloon" style="display:none;">
</span>
