<% content_for :head do %>
  <%= stylesheet_link_tag "shared/_narrow_add" %>
<% end %>

<div class="narrow-add">
	<div>
		<a href="http://www.dmm.com/mono/dvd/animemory-001" target="_blank"><img src="http://pics.dmm.com/af/c_mono/120_600.jpg" width="120" height="600" alt="DVD通販" border="0" class="img-polaroid"></a>
	</div>
</div>
