<% content_for :title do %>
新規アニメ登録[アニメモリ]
<% end %>
<% content_for :h1 do %>
アニメ新規登録完了
<% end %>

<div class="row-fluid amHightfixer">
  <div class="span12">
    <p class="amCategoryhead">アニメ新規登録完了</p>
    <div class="row-fluid">
      <div class="span12 well amlonginwell2 text-center">
        <h4>アニメの新規登録が完了しました。</h4>
        <p><%= link_to("登録アニメのページ") %></p>
      </div>
    </div>
  </div>
</div>