.am-sp-new-summary-headder{
  padding: 10px 5px 5px 5px;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
}

.am-sp-new-summary-title div .am-sp-new-summary-head{
  font-size: 30px;
}

.am-sp-new-summary{

}

.am-sp-new-summary div{
  position: relative;
  margin-left: 0!important;
  border-bottom: 1px solid #272727;
  background: #777777; /* Old browsers */
  background: -moz-linear-gradient(top,  #777777 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #777777 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #777777 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #777777 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #777777 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.am-sp-new-summary div a{
 display: block;
}

.am-sp-new-summary div a img{
  width:35%
}

.am-sp-new-summary div strong{
  position: absolute;
  left: 37%;
  top: 5px;
  font-size: 17px;
  color: #ffffff;
  padding-top: 1px;
  word-wrap: break-word;
  width: 55%;
}

.am-sp-new-summary div a span{
  position: absolute;
  left: 37%;
  top: 60%;
  font-size: 12px;
  color: #ffffff;
  width:55%;
}

.am-sp-new-summary div a .am-sp-index-half-arrow{
  height: 25px!important;
  width: 20px!important;
  position: absolute;
  top: 43%;
  right: 0.5%;
}

.am-sp-new-summary div strong:hover{
  color: #dddddd;
}

#am-sp-more-new-summaries{
  margin-top: 3px;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #777777; /* Old browsers */
  background: -moz-linear-gradient(top,  #777777 0%, #444444 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#444444)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #777777 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #777777 0%,#444444 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #777777 0%,#444444 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #777777 0%,#444444 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}

#am-sp-more-new-summaries a{
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  padding-top: 25px;
  font-weight: bold;
  color: #ffffff;
}

.am-outside-summary-wrap{
  margin-left: 1px;
}

.am-outside-summary-wrap li{
  font-size: 12px;
  list-style-type: none;
  display: block;
  padding: 10px;
  line-height: 1.1!important;
  word-wrap:break-word!important;

  background: #777777; /* Old browsers */
  background: -moz-linear-gradient(top,  #777777 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #777777 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #777777 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #777777 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #777777 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.am-outside-summary-wrap li a{
  color: #ffffff;
  width: 100%;
}

.am-outside-summary-wrap li span{
  color: #408629;
  font-weight: bold;
}

.am-sp-outside-summary-headder{
  margin-top: 20px;
}

.am-sp-outside-summary-headder div{
  padding: 10px 5px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
}
