<% content_for :head do %>
<%= javascript_include_tag "account/quitting" %>
<% end %>
<% content_for :title do %>
アニメモリの退会完了
<% end %>
<div class="row-fluid amHightfixer">
  <div class="span12">
    <p class="amCategoryhead">アニメモリの退会確認</p>
    <div class="row-fluid">
      <div class="span12 well amlonginwell3 text-center">
        <p>退会が完了しました。<br>
          ご利用ありがとうございました。<br>
          再登録もできますので、またのご利用お待ちしております。
        </p>
      </div>
    </div>
  </div>
</div>