.narrow-add{
  border:1px solid #ccc;
  min-height:500px;
}

.narrow-add div:first-child{
  background-color:#ccc;
  padding-left:5px;
}

.narrow-add div:nth-child(2){
  text-align:center;
  padding:10px;
}

.narrow-add div:nth-child(2) a{

}
